@import "tailwindcss";

@theme {
  --color-slate-850: #151b2e;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-slate-900);
  color: var(--color-slate-50);
  font-family: var(--font-sans);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Toast Animation */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}